<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Dead Man's Switch Vault{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <!-- <script defer src="./bootstrap/dist/js/bootstrap.js"></script> -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">DMS Vault</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarsExample">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>

          {% if session.get('role') == 'user' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
          </li>
          {% endif %}

          {% if session.get('role') == 'admin' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a>
          </li>
          {% endif %}

          {% if not session.get('role') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('log') }}">Login</a>
          </li>
          {% endif %}

          {% if session.get('role') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container py-4">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>

  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
  <script src="/static/js/main.js"></script>
</body>

</html>