{% extends "base.html" %}

{% block content %}

<h3>Edit Nominee</h3>

<form method="post" class="card card-body">

  <label class="form-label">Name</label>
  <input
    class="form-control mb-3"
    name="name"
    value="{{ nominee.name }}"
    required
  >

  <label class="form-label">Email</label>
  <input
    class="form-control mb-3"
    type="email"
    name="email"
    value="{{ nominee.email }}"
    required
  >

  <label class="form-label">Relation</label>
  <input
    class="form-control mb-3"
    name="relation"
    value="{{ nominee.relation }}"
    required
  >

  <div>
    <button type="submit" class="btn btn-primary">
      Update Nominee
    </button>

    <a href="{{ url_for('nominees') }}" class="btn btn-secondary">
      Cancel
    </a>
  </div>

</form>

{% endblock %}