{% extends "base.html" %}
{% block content %}

<h3>Reset Password</h3>

<form method="post" class="card card-body">

  <label class="form-label">New Password</label>

  <input
    class="form-control mb-3"
    type="password"
    name="password"
    placeholder="Enter new password"
    required
  >

  <label class="form-label">Confirm Password</label>

  <input
    class="form-control mb-3"
    type="password"
    name="confirm_password"
    placeholder="Confirm new password"
    required
  >

  <button class="btn btn-success">
    Reset Password
  </button>

</form>

{% endblock %}